.game .actions {
  display: flex;
  margin-top: 0.5em;
  width: 100%;
}

.game .actions button {
  flex: 1;
}

.game-wrapper .summary dd + dt {
  margin-top: 0.5em;
}

@media screen and (min-width: 540px) {
  .game-wrapper {
    display: flex;
    max-width: 100%;
  }

  .game {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    max-width:60vh;
  }

  .controls {
    margin-left: 3vw;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
