.ChessBoard {
  display: grid;
  gap: 0;
  grid-template-columns: 0.5fr repeat(8, 1fr) 0.5fr;
  grid-template-rows: 0.5fr repeat(8, 1fr) 0.5fr;
  max-width: 75vh;
  user-select: none;
  width: 100%;
}

.ChessBoard > div {
  overflow: hidden;
  text-align: center;
}

.square {
  aspect-ratio: 1;
  cursor: pointer;
}

.right,
.left {
  padding: 5px;
}

/* border around squares */
.top {
  border-bottom: 1px solid #333;
}
.right {
  border-left: 1px solid #333;
}
.bottom {
  border-top: 1px solid #333;
}
.left {
  border-right: 1px solid #333;
}

/* black squares */
.a1,
.a3,
.a5,
.a7,
.b2,
.b4,
.b6,
.b8,
.c1,
.c3,
.c5,
.c7,
.d2,
.d4,
.d6,
.d8,
.e1,
.e3,
.e5,
.e7,
.f2,
.f4,
.f6,
.f8,
.g1,
.g3,
.g5,
.g7,
.h2,
.h4,
.h6,
.h8 {
  background-color: #999;
}

/* white squares */
.a2,
.a4,
.a6,
.a8,
.b1,
.b3,
.b5,
.b7,
.c2,
.c4,
.c6,
.c8,
.d1,
.d3,
.d5,
.d7,
.e2,
.e4,
.e6,
.e8,
.f1,
.f3,
.f5,
.f7,
.g2,
.g4,
.g6,
.g8,
.h1,
.h3,
.h5,
.h7 {
  background-color: #fff;
}

.lastmove {
  background-color: #ff9;
}

.selected {
  background-color: #9cf;
}
